.lp{
  &__benefits{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1048px;
    margin: 0 0 0 40px;
    padding-bottom: 131px;
    //overflow: hidden;


    @include max(1140px){
      margin:0 30px;
    }


    @include max(1048px){
      display: block;
      width: auto;
      margin:0;
      padding: 50px 0 0;
    }


    $root: &;

    &__item{
      text-align: center;
      width:330px;
      position: relative;

      @include max(580px){
        width: auto;
      }


      &:before{
        display: block;
        content:'';
        position: absolute;
        left: 50%;

        @include max(1048px){
          display: none;
        };
      }

      &--1{
        #{$root}__icon{
          @include sprite($b1);
        }

        &:before{
          @include sprite($arr-1);
          top: 100%;
          margin:41px 0 00 -45px;
        }
      }

      &--2{
        margin:120px 0 0;
        #{$root}__icon{
          @include sprite($b2);
        }

        &:before{
          @include sprite($arr-2);
          bottom: 100%;
          margin:0 0 -67px 100px;
        }

      }

      &--3{
        margin:225px 0 0;
        #{$root}__icon{
          @include sprite($b3);
        }
      }

      @include max(1048px){
        margin:0 auto 50px;
      }
    }

    &__icon{
      margin:0 auto;
      border-radius: 100%;
      box-shadow: 0 0 15px rgba(#000, .15);
      background-color: #fff;
      position: relative;
    }

    &__text{
      font-size:20px;
      line-height: 1.4;
      font-family: $open-semi;
      margin:-11px 0 0 0;
      width: 450px;
      position: relative;
      left:50%;
      transform: translateX(-50%);

      a{
        color: $font-color;

        &:hover{
          text-decoration: none;
        }
      }

      @include max( 1048px){
        margin-top:0;
      }

      @include max(580px){
        width: auto;
        left: auto;
        transform: translateX(0);

        br{
          display: none;
        }
      }
    }

    &__number{
      font-family: $open-bold;
      font-size: 37px;

      @include max(480px){
        font-size: 32px;
      }
    }
  }
}
