.button{
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border: none;
  outline: none;
  line-height:1.2;
  color: map-get($button, 'textColor');
  background: map-get($button, 'bgColor');
  font-family:$open;
  transition: all 0.2s ease;

  &:hover{
    background: map-get($button, 'bgColorHover');
  }

  &--large{
    font-size: map-get($button, 'fz');
    padding: 19px 20px 23px;
    border-radius: 3px;
    width:530px;

    @include max(580px){
      width: 100%;
      font-size: (map-get($button, 'fz') - 10);
      padding:15px;
    }
  }
}