.lp{

  &__intro{
    text-align: center;
    margin:0 0 15px;

    h1{
      font-size: 90px;
      font-family: $bebas;
      text-transform: uppercase;
      line-height:1.3;

      @include max($content-width){
        font-size: 70px;

        @include max(640px){
          font-size: 40px;
        }

        @include max(480px){
          font-size: 30px;
        }

        @include max(380px){
          font-size: 28px;
        }
      }


      span{
        display: block;
        font-size: 76px;

        @include max($content-width){
          font-size: 56px;

          @include max(640px){
            font-size: 41px;
          }

          @include max(480px){
            font-size: 30px;
          }

          @include max(380px){
            font-size: 28px;
          }

        }

      }


    }
  }
}
