html{
  width:100%;
  max-width: 100%;
}

body{
  width:100%;
  max-width: 100%;
  //background: $bg-color;

  &, & *, & *:before, & *:after{
    box-sizing: border-box;
  }
}

.lp-body{
  max-width:100%;
  position: relative;
  overflow: hidden;

  &:before{
    display: block;
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    transition: opacity .3s ease;
    background: url('../images/bg-d.jpg') 100% 0 no-repeat;
    opacity:.7;

    @include max(1600px){
      margin-left: 100px;
      opacity:.6;
    }


    @include max(1250px){
      margin-left: 250px;
      opacity:.4;
    }


    @include max(1048px){
      background-image: url(../images/bg-m.jpg);
      background-position: center 0;
      background-repeat: repeat;
      background-size: 100% auto;
      margin-left:0;
      opacity:1;
    }

  }
}


.lp{

  &__content{
    position: relative;
    max-width: $content-width;
    padding-top: 50px;
    padding-bottom:100px;
    z-index:1;

    @include max(1024px){
      padding-bottom:50px;
      padding-top:80px;
    }

    @include max(580px){
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom:50px;
    }
  }

}


.button-row{
  text-align: center;
  max-width: 1137px;

  @include max(580px){
    padding:0 5px;
  }

}

.prompt{
  font-size: 19px;
  padding-top: 22px;

  a{
    margin: 0 20px;
  }

  @include max(480px){
    font-size: 16px;
  }
}

.lety-logo{
  position: fixed;
  right: 100px;
  bottom: 100px;

  @include max(1600px){
    display: none;
  }

  &__image{
    position: relative;
    z-index:2;
  }

  &__fog{
    @include sprite($fog);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.present-gift{
  text-align: center;
  padding:0 0 20px;
  font-family: $open-semi;
  font-size: 17px;
  line-height:1.4;

  b{
    font-family: $open-bold;
  }
}