html{
  font-size:$rootSize;

  @include mq($max-width: 980px){
    font-size:14px;
  }
}

body{
  font-family:$open;
  font-size:$font-size;
  color: $font-color;
}


h1{
  font-family: $bebas;
  font-size: 25px;
  margin:0 0 20px;
}

h2{
  font-family: $open-bold;
  font-size: 20px;
  margin:0 0 20px;
}

h3{
  font-family: $open-semi;
  font-size: 18px;
  margin:0 0 20px;
}

a{
  color: #5a99fc;

  &:hover{
    text-decoration: none;
  }
}