.show-middle{
  display: none;

  @include max(1048px){
    display: block;
  }

}
.hide-middle{
  display: none;

  @include min(1048px){
    display: block;
  }

}


.is-nowrap{
  white-space:nowrap;
  display: inline-block;
}