// Fonts
$fonts-path: '../fonts/';
$bebas: 'bebasneue_bold';
$open: 'Open-sans-regular';
$open-light: 'Open-sans-light';
$open-bold: 'Open-sans-bold';
$open-semi: 'Open-sans-semi';


//Typo
$rootSize: 16px;
$font-color: #252525;
$font-size:14px;

//Layout
$content-width: 1250px;
$bg-color: #fafafa;

// Buttons
$button: (
  textColor: #fff,
  bgColor: #5a99fc,
  bgColorHover: #2c71de,
  fz: 33px
);
